[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "source/_posts"]
	path = source/_posts
	url = https://github.com/nargnos/BlogContent.git
[submodule "public"]
	path = public
	url = https://github.com/nargnos/nargnos.github.io.git
